extends layout

block content
    h1 Do you really want to delete this Message?
    div
        h3 #{message.title}
        p #[strong Message:] #{message.text}
        if user.membershipStatus
          p #[strong Timestamp:] #{message.timestamp_formatted}
          p #[strong Created By:] #{message.fullName}

        if user.adminStatus
            form(method='POST')
                div.form-group
                    input#messageid.form-control(type='hidden', name='messageid', value=message._id )
                button.btn.btn-primary(type='submit') Delete Message